brew "git"
brew "ripgrep"
brew "fd"
brew "jq"
brew "gh"
brew "direnv"
brew "neovim"

{{- if eq .chezmoi.os "darwin" }}
cask "1password"
cask "1password-cli"
{{- end }}

{{- if and (eq .chezmoi.os "darwin") (.install_gui_apps | default false) }}
cask "visual-studio-code"
cask "hyperkey"
cask "loop"
cask "maccy"
cask "meetingbar"
{{- end }}
