brew "git"
brew "ripgrep"
brew "fd"
brew "jq"
brew "gh"
brew "direnv"
brew "duti"
brew "neovim"
{{- if eq .profile "work" }}
brew "awscli"
tap "fwdcloudsec/granted"
brew "fwdcloudsec/granted/granted"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
cask "1password"
cask "1password-cli"
cask "bartender"
cask "font-jetbrains-mono"
cask "ghostty"
cask "handy"
cask "hyperkey"
{{- if eq .profile "work" }}
cask "linear"
cask "lm-studio"
{{- end }}
cask "loop"
cask "maccy"
cask "meetingbar"
{{- if eq .profile "work" }}
cask "slack"
{{- end }}
cask "visual-studio-code"
{{- end }}
